#board {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgb(212, 250, 76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
}

.box-valid {
    background-color: #ccc;
    color: #aaa;
    height: 65px;
    width: 65px;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5px);
}

.box.succes {
    animation: error 2s;
    background-color: rgb(76, 250, 96);
    color: white;
}

.box.error {
    animation: error 2s;
    background-color: rgb(250, 76, 76);
    color: white;
}

.box.notice {
    animation: error 2s;
    background-color: rgb(76, 85, 250);
    color: white;
    cursor: not-allowed;
}

@keyframes error {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes appear {
    from{
        transform: scale(0) rotate(180deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}